/*未审核列表页面样式*/
.checked{
    margin-left: 10%;
    margin-right: 10%;
}
.checked .chakra-input__group{
    margin-bottom: 20px;
}
.checked .chakra-input{
    background-color: rgb(255, 255, 255) !important;
    border-radius: 5px !important;
    font-size: 14px !important;
}
.checked .ant-input{
    border-radius: 5px!important;
    display: inline !important;
}
.checked .sum{
    margin-left: 2%;
    margin-bottom: 10px;
    overflow: hidden;
}
.checked .number{
    font-size: 50px;
    color: #3A3AF1;
    margin-left: 4px;
    margin-right: 4px;
}
.checked .ant-table-filter-dropdown{
    border-radius: 5px !important;
}
.checked .chakra-avatar{
    margin: 0px !important;
    width: 40px !important;
    height: 40px !important;
}
.checked .chakra-avatar__initials{
    font-size: 12px !important;
}
.checked .ant-table-thead{
    text-align: center !important;
}
.checked .css-1eu8csq{
    background-color: #3A3AF1 !important;
}
.checked .count{
    font-size: 16px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 20px;
}

.checked .ant-table{
    background-color: #ffffff !important;
}
.checked .ant-table-thead .ant-table-cell{
    background: #fefefe !important;
    font-weight: 600;
}
.checked .ant-table-thead>tr{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.checked .ant-table{
    border-radius: 20px;
}

.checked .img1 img{
    height: 120px;
}
.checked .ant-table-tbody>tr>td {
    font-size: 14px !important;
    font-weight: 550;
}