.manageCard {
    width: 80vw;
    height: 85vh;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    padding: 20px 50px;
    margin: 20px;
    position: relative;
    overflow: hidden;
}


.plist{
    /*padding: 40px;*/
}

.plist .ant-table-thead>tr>th {
    color: #4A5568;
    font-weight: 700;
    font-size: 15px;
}

.plist .ant-table-tbody>tr>td {
    font-size: 14px;
    font-weight: 550;
}

.plist .css-spn4bz:hover {
    color: #1b3bbb;
}
