/*审核认领页面样式*/
.uncheck{
    padding-left: 10%;
    padding-right: 10%;

}
.uncheck .chosen{
    padding-top: 5px !important;
    padding-left: 20px;
}

.detailForm .ant-card-head-title{
    font-size: 17px !important;
    font-weight: 600;
}
.uncheck .ant-table-tbody>tr>td {
    font-size: 14px !important;
    font-weight: 550;
}
.modal .ant-modal-header{
    border-bottom: 0ch;
}
.modal .ant-modal-footer{
    border-top: 0;
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 20px;
}
.modal .ant-modal-title{
    font-size: 19px !important;
    font-weight: 600;
}
.uncheck .count{
    font-size: 16px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 20px;
}

.uncheck .ant-table{
    background-color: #ffffff !important;
}
.uncheck .ant-table-thead .ant-table-cell{
    background: #fefefe !important;
    font-weight: 600;
}

.uncheck .ant-table{
    border-radius: 20px;
}
.uncheck .img1 img{
    height: 120px;
}