
.homepage {
    margin: 0;
    padding: 0;
    background-color: #0a2a43;
    min-height: 1500px;
  }
  .homepage  section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
   
    justify-content: center;
  }
  .homepage  section:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top #0a2a43 transparent);
    z-index: 10000;
  }
  .homepage  section:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a2a43;
    z-index: 3;
    mix-blend-mode: color;
  }
  .homepage  section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
  .homepage #middle{
    position: relative;
    z-index: 1;
    margin-top: 160px;
    text-align: center;
  }
  .homepage .text1 {
    color: #ffffff;
    font-size: 8em;
  }
  .homepage .text2 {
    color: #ffffff;
    font-size: 2.5em;
    margin-top: -25px;
  }
  .homepage #road {
    z-index: 2;
  }
  
  .homepage .box{
    height: 470px;
    padding: 20px 30px 20px 30px;
  }

  .homepage .pbox{
    height: 520px;
    padding: 20px 30px 20px 30px;
  }

  .homepage .recomand{
    padding: 1% 5% 2% 5%;
  }

  .homepage .title{
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 30px;
  }

  .homepage .listitem{
    color: #ffffff;
    clear:both;
  }

  .homepage .ant-list-split .ant-list-item{
    border-bottom: solid 2px #a1a0a0;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .homepage .venueName{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    width: 650px;
  }
  .homepage .login{
    color: #ffffff;
  }

  .homepage .chart-icon{
    font-size: 28px;
    color: #ffffff !important;
    margin-top: 3px;
    margin-right: 15px;
}

.homepage .ant-empty-description{
  color: #ffffff;
}

.homepage .PVname{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
  width: 800px;
  float: left;
}

.homepage .pName{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
  width: 800px;
}
