body{
    /*background: linear-gradient(200deg,#f3e7e9,#e3eeff);*/
}
.container{
    /*background-color: #fff;*/
    width: 650px;
    height: 415px;
    /*border-radius: 5px;*/
    /* 阴影 */
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    /* 相对定位 */
    position: relative;
}
.form-box{
    /* 绝对定位 */
    position: absolute;
    top: -10%;
    left: 5%;
    background-color: #a3b9f8;
    width: 320px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 4px 4px 15px 0 rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /* 动画过渡 加速后减速 */
    transition: 0.5s ease-in-out;
}
.register-box{
    /* 弹性布局 垂直排列 */
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.login-box{
    /* 弹性布局 垂直排列 */
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.hidden{
    transition: 0.5s;
}
.loginInput{
    background-color: transparent;
    color: #fff;
    border: none;
    /* 下边框样式 */
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding: 10px 0;
    text-indent: 10px;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 2px;
}
.loginInput::placeholder{
    color: #fff;
}
.loginInput:focus{
    color: #24388a;
    outline: none;
    border-bottom: 1px solid #24388a;
    transition: 0.5s;
    box-shadow: none;
}

.loginInput:focus::placeholder{
    opacity: 0;
}

.registerInput{
    background-color: transparent;
    color: #fff;
    border: none;
    /* 下边框样式 */
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding: 10px 0;
    text-indent: 10px;
    margin: 0;
    font-size: 14px;
    letter-spacing: 2px;
}
.registerInput::placeholder{
    color: #fff;
}
.registerInput:focus{
    color: #24388a;
    outline: none;
    border-bottom: 1px solid #24388a;
    transition: 0.5s;
    box-shadow: none;
}

.registerInput:focus::placeholder{
    opacity: 0;
}

.form-box button{
    background-color: #f6f6f6;
    color: #728fea;
    outline: none;
    padding: 13px;
    /*color: #a262ad;*/
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}
.form-box button:hover{
    background-color: #1b3bbb;
    color: #f6f6f6;
    transition: background-color 0.5s ease;
}

.con-box{
    width: 50%;
    /* 弹性布局 垂直排列 居中 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 绝对定位 居中 */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.con-box.left{
    left: -2%;
}
.con-box.right{
    right: -2%;
}
.con-box h2{
    color: #8e9aaf;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 4px;
}
.con-box p{
    font-size: 12px;
    letter-spacing: 2px;
    color: #8e9aaf;
    text-align: center;
}
.blueText{
    color: #a3b9f8;
}
.con-box img{
    width: 150px;
    height: 150px;
    opacity: 0.9;
    margin: 40px 0;
}

.con-box button{
    margin-top: 3%;
    background-color: #fff;
    color: #1b3bbb;
    border: 1px solid #a3b9f8;
    padding: 6px 10px;
    /*border-radius: 5px;*/
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}
.con-box button:hover {
    background-color: #a3b9f8;
    color: #fff;
    border: none;
}

